{% extends 'base/layout-loggedin.html' %}

{% block title %}SFS | Downloads{% endblock %}
{% block header %}Downloads{% endblock %}

{% block content %}

    <h3>Available Downloads</h2>
    {% if documents %}
    <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a> |<a href="{{ obj.document.url }}" download> Download</a>

      </li>
    {% endfor %}
    </ul>
    {% else %}
        <p> No documents</p>
    {% endif %}

{% endblock %}

{% block javascript%}
{%endblock%}
