{% extends 'base/layout-loggedin.html' %}
{% block title %} SFS | Upload {% endblock %}
{% block header %}Upload a file{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<button type="submit">Upload</button>
	</form>

	<p>
		<a href="{% url 'upload:file' %}">Back to files</a>
	</p>

{% endblock %}

{% block javascript%}
{%endblock%}
