{% extends 'base/layout.html' %}
{% block title %} Log - in{% endblock %}
{% block content %}

    <div id="container" >
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel">
                    <div class="panel-heading custom-header-panel">
                        <h3 class="panel-title roboto">Log-in</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'auth:login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                        <label class="col-sm-4 control-label" for="name">Username <span class="requerido"> *</span></label>
                                        <div class="col-sm-8">
                                            {{ form.username }}
                                        </div>
                                </div>
                                <div class="form-group">
                                            <label class="col-sm-4 control-label" for="name">Password <span class="requerido"> *</span></label>
                                            <div class="col-sm-8">
                                                {{ form.password }}
                                            </div>
                                </div>

                                <div class="form-group text-center">
                                            <button type="submit" id="submit_btn" class="btn btn-blue-md roboto">Log in</button>
                                </div>

                        </form>
                            <p class="change_link">
                                    Not a member yet ?
                                    <a href="{% url 'auth:register'  %}">Register Here</a>
                            </p>
                    </div>
                </div>
            </div>
        </div>

</div> <!-- /form -->
{% endblock %}



