<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}SFS{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "mystyle.css"%}" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    {% block nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:home' %}">Simple File Share</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if user.is_authenticated %}
                    
                    <li>
                        <a href="">{{ user.username }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'main:home' %}">Upload File</a>
                            </li>
                            <li>
                                <a href="">View Files</a>
                            </li>
                            <li>
                                <a href="#">View Download Stats</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View Profile</a>
                            </li>
                            <li class="divider"></li>

                            <li>
                                <a href="{% url 'auth:logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                            
                    {% else %}
                    
                    <li>
                        <a href="{% url 'auth:login' %}">Log-in</a>
                    </li>
                    <li>
                        <a href="{% url 'auth:register' %}">Register</a>
                    </li>
                    
                    {%endif%}

                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div class="container">

        {% block content %}

        {% endblock %}

    </div>
    


    <div class="container">

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul class="footer-menu"></ul>
                    <p class="copyright text-center">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        Ninja Pirates, Test Site
                    </p>
                </nav>
            </div>
        </footer>
    {% endblock %}
    
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    
    {% block javascript %}
    {% endblock %}
</body>
</html>
