<!DOCTYPE html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap-dashboard.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    
    <title>{% block title %}SFS{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple" data-image="{% static 'img/sidebar.jpg' %}">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{% url 'main:home' %}" class="simple-text">FILE SHARING HUB</a>
                </div>

                {% block sidebar %}
                <ul class="nav">
                    <li class="active">
                        <a href="{% url 'main:home'%}">
                            <p style="color:white"><i class="pe-7s-user"></i> My Files</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'upload:upload'%} ">
                            <p style="color:white"><i class="pe-7s-cloud-upload"></i> Upload a File</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'upload:file' %}">
                            <p style="color:white"><i class="pe-7s-users"></i> View Other Files</p>
                        </a>
                    </li>
                </ul>
                {% endblock %}

        	</div>
        </div><!--/sidebar-->

        <div class="main-panel">
            
            {% block nav %}
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">{% block header %}{% endblock%}</a>
                    <button href="" 
                        class="navbar-toggler navbar-toggler-right" 
                        type="button" 
                        data-toggle="collapse" 
                        aria-controls="navigation-index" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                
                            </li>
                            <li class="dropdown nav-item">
                                
                            </li>
                            <li class="nav-item">
                                
                            </li>
                        </ul>
                        <!-- right side -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:home' %}">
                                    <span class="no-icon">Welcome {{ user.username }}!</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'auth:logout' %}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% endblock %}
            <!-- End Navbar -->
            
            <div class="content" id="section">
                <div class="container-fluid">
                        {% block content %}{% endblock %}
                </div>
            </div>

            {% block footer %}
            <footer class="footer">
                <div class="container">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a class="nav-link" href="{% url 'admin:index' %}">
                                    <span class="no-icon">Admin Login</span>
                                </a>
                            </li><li></li><li></li><li></li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Ninja Pirates, Test Site
                        </p>
                    </nav>
                </div>
            </footer>
            {% endblock %}
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="{% static 'js/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap-dashboard.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{% static 'js/bootstrap-switch.js' %}" type="text/javascript"></script>
    <!-- Control Center for Light Bootstrap Dashboard -->
    <script src="{% static 'js/light-bootstrap-dashboard.js' %}" type="text/javascript"></script>
    {% block javascript %}
    {% endblock %}
</body>
