{% extends 'base/layout-loggedin.html' %}
{% block title %}SFS | My Files{% endblock %}

{% block header %}My Files{% endblock %}

{% block content %}

{% if files %}
	{% for f in files %}
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">
				{{ f.document.name }}
			</h4>
			<p class="card-category">
				{{ f.user.username }}
			</p>
		</div>
		<div class="card-body">
			<p>
				<a href="{{ f.document.url }}">
					{{ f.document.url }}	
				</a>
			</p>
			<p>
				{{ f.description }}
			</p>
		</div>
		<div class="card-footer">
			<hr/>
			<div class="stats">
				<i class="fa fa-clock-o"></i>
				{{ f.uploaded_at }}
			</div>
		</div>
	</div>
	{% endfor%}
{% else %}
	<p>
		You haven't uploaded anything yet. Why not <a href="{% url 'upload:upload' %}">upload a file</a>, or have a look at <a href="{% url 'upload:file' %}">what other people have uploaded</a>?
	</p>
{% endif %}

{% endblock %}
