{% extends 'base/layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Welcome to SFS</h1>

        <p class="lead">Share files With others. Find what you are looking by loging in if you have an account <a href="{% url 'auth:login' %}">Log-in</a> or register <a href="{% url 'auth:register' %}">Register</a> if you don't have an account.</p>
    </div>
  </div>
{% endblock %}





